.container {
    background-color: $bgColor-1;
}

nav {
    display: flex;
    justify-content: space-around;
    gap: 200px;
    padding-top: 50px;

    .nav-list {
        display: flex;
        gap: 50px;
    }

    ul {
        display: flex;
        gap: 50px;
        margin-top: 15px;
        list-style: none;
    }

    li a {
        font-size: 1.6rem;
        color: $paragraph;
        font-weight: 400;
    }

    a:link {
        text-decoration: none;
    }

    .nav-list-2 {
        display: flex;
        gap: 30px;
    }

    .login {
        margin-top: 15px;
        list-style: none;
    }

    .divider {
        border: 1px solid #757373;
        height: 20px;
        margin-top: 15px;
    }

    .register {
        background-color: $btnColor;
        border: none;
        border-radius: 32px;
        font-size: 1.6rem;
        color: $header;
        padding: 14px 32px;
        cursor: pointer;
    }
}

/* mobile navbar*/
.mobile-nav {
    display: none;
}

.section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    position: relative;

    .intro {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 50px;

        .offer {
            background-color: #2e2e35;
            color: $header;
            border-radius: 10px;
            width: 27vw;
            padding-top: 5px;
            padding-bottom: 5px;
            letter-spacing: 0.01rem;
        }

        .txt-1 {
            background-color: $header;
            border-radius: 32px;
            padding: 5px 10px;
            color: #0D0D2B;
            font-size: 1.6rem;
            margin-right: 15px;
        }

        h1 {
            color: $header;
            font-size: 6.4rem;
            font-weight: 700;
            width: 45vw;
        }

        .intro-txt {
            @include paragraph;
            width: 30vw;
        }

        .intro-btn {
            color: $header;
            display: flex;
            gap: 20px;
            background-color: $btnColor;
            align-items: center;
            justify-content: center;
            width: 180px;
            height: 50px;
            border-radius: 32px;
            font-weight: 500;
            font-size: 1.6rem;
            cursor: pointer;
        }
    }


    .intro-img {
        width: 35vw;
        margin-top: -50px;
    }

    .intro-effect-1 {
        position: absolute;
        width: 40%;
        top: 60%;
        left: 25%;

    }

    .intro-effect-2 {
        position: absolute;
        width: 40%;
        top: 60%;
        right: 5%;
    }
}

.stats {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;

    .stats-flex {
        display: flex;
        gap: 20px;

        .stats-img {
            width: 60px;
            height: 60px;
        }

        .stats-flex-2 {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h2 {
                @include header;
            }

            p {
                @include paragraph;
            }
        }
    }
}

.why {
    @extend .section;
    position: relative;

    .why-img {
        width: 35vw;
        margin-top: -50px;
    }

    .why-flex {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
            @include header;
            width: 40vw;
        }

        p {
            @include paragraph;
            width: 30vw;
        }

        .why-btn {
            background-color: $btnColor;
            color: $header;
            border: none;
            width: 150px;
            height: 50px;
            border-radius: 24px;
            font-size: 1.6rem;
            cursor: pointer;
        }
    }

    .why-effect-1 {
        position: absolute;
        top: -60%;
        right: 5%;
    }

    .why-effect-2 {
        position: absolute;
        right: 1%;
        bottom: -30%;
    }

    .why-effect-3 {
        position: absolute;
        left: -1%;
    }
}

.earn {
    margin-top: 150px;
    padding-bottom: 200px;
    position: relative;

    .earn-flex-1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

        h2 {
            @include header;
        }

        p {
            @include paragraph;
            font-size: 1.8rem !important;
            width: 38vw;
        }
    }
}

.abs {
    position: absolute;
    top: 55%;
    left: 25%;
    background-color: $header;
    width: 50vw;
    height: 35vh;
    padding: 40px 30px;
    border-radius: 15px;
    filter: drop-shadow(5px 5px 5px rgba(9, 4, 19, 0.5));

    .abs-flex-row {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 50px;

        .abs-flex-1 {
            display: flex;
            flex-direction: column;
            gap: 5px;

            p {
                font-size: 2.0rem;
                color: rgba(13, 13, 43, 0.3);
            }

            hr {
                border: 1px solid #E0E0E0;
                width: 300px;
            }
        }

        .abs-dot {
            font-size: 2.5rem;
            margin-top: -10px;
            color: #726e6e;
        }

        .abs-flex-2 {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .abs-flex-3 {
                display: flex;
                gap: 20px;
                justify-content: space-evenly;

                p {
                    font-size: 2.0rem;
                    color: rgba(13, 13, 43, 0.3);
                }

                img {
                    width: 10px;
                    height: 15px;
                }
            }

            hr {
                border: 1px solid #E0E0E0;
                width: 150px;
            }
        }

        .abs-btn {
            background-color: $btnColor;
            color: $header;
            border: none;
            width: 150px;
            height: 50px;
            border-radius: 24px;
            font-size: 1.6rem;
            margin-top: -20px;
            padding: 10px 20px;
            cursor: pointer;
        }
    }

    .abs-flex-col {
        display: flex;
        flex-direction: column;
        gap: 5px;
        // margin-top: 50px;

        .abs-flex-col-txt-1 {
            color: #3671E9;
            font-size: 1.6rem;
            font-family: Rubik-Bold;
        }

        .abs-flex-col-txt-2 {
            font-size: 3.2rem;
            color: #0D0D2B;
            font-family: Rubik-Bold;

            .span-txt {
                color: #3671E9;
            }
        }

        .abs-flex-col-txt-3 {
            font-size: 1.6rem;
            color: #828282;
        }
    }
}

@media screen and (max-width: 480px) {
    .mobile-nav {
        display: flex;
    }

    .mobile-nav-img {
        margin-right: -50px;
    }

    .menu {
        margin-left: -10px;
        background-color: #E0E0E0;
        cursor: pointer;
    }

    .desktop-nav {
        display: none;
    }

    .section {
        flex-direction: column;

        .intro {
            margin-left: 20px;

            .offer {
                // width: 87%; changes the element width when screen is adjusted
                width: 300px; // it is fixed even when the screen is adjusted
                font-size: 1.3rem;
            }

            .txt-1 {
                font-size: 1.4rem;
            }

            h1 {
                font-size: 3.5rem;
                width: 100%;
            }

            .intro-txt {
                font-size: 1.4rem;
                width: 100%;
            }
        }

        .intro-img {
            margin-top: 50px;
            margin-left: 30px;
            width: 80%;
        }

        .intro-effect-1 {
            width: 100%;
            top: 80%;
            left: 0;
        }

        .intro-effect-2 {
            width: 100%;
            top: 50%;
            right: 0;
        }
    }

    .stats {
        flex-direction: column;
        margin-left: 30px;
        gap: 30px;

        .stats-flex {
            .stats-img {
                width: 40px;
                height: 40px;
            }

            .stats-flex-2 {

                h2 {
                    font-size: 3.0rem;
                }

                p {
                    font-size: 1.6rem;
                }
            }
        }
    }

    .why {
        margin-left: 20px;
        gap: 30px;

        .why-img {
            width: 90%;
        }

        .why-flex {
            h2 {
                font-size: 3.5rem;
                width: 100%;
            }

            p {
                font-size: 1.4rem;
                width: 100%;
            }
        }

        .why-effect-1 {
            width: 100%;
        }

        .why-effect-2 {
            width: 100%;
        }

        .why-effect-3 {
            width: 100%;
        }
    }

    .earn {
        margin-left: 30px;

        .earn-flex-1 {

            h2 {
                font-size: 3.5rem;
            }

            p {
                font-size: 1.4rem !important;
                width: 100%;
            }
        }
    }

    .abs {
        width: 100%;
        height: 100%;
        left: -5%;

        .abs-flex-row {
            flex-direction: column;

            .abs-dot {
                display: none;
            }

            .abs-btn {
                margin-top: 0;
            }

            .abs-flex-1 {
                margin-left: 50px;

                // p {
                //     font-size: 1.8rem;
                // }

                hr {
                    width: 200px;
                }
            }

            .abs-flex-2 {

                // margin-right: 100px;
                hr {
                    width: 45px;
                    margin-left: 95px;
                }

                .abs-flex-3 {
                    justify-content: center;
                    align-items: center;
                }
            }

            .abs-btn {
                margin-left: 50px;
            }
        }

        .abs-flex-col {
            gap: 15px;
            margin-top: -15px;
            .abs-flex-col-txt-2 {
                font-size: 2.5rem;
            }

            .abs-flex-col-txt-3 {
                font-size: 1.4rem;
                // margin-bottom: 30px;
            }
        }
    }
}