html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Rubik-Regular;
    src: url(../assets/font/Rubik/Rubik-Regular.ttf);
}

@font-face {
    font-family: Rubik-Bold;
    src: url(../assets/font/Rubik/Rubik-SemiBold.ttf);
}

h1,
h2,
h3 {
    font-family: Rubik-Bold;
}

p {
    font-family: Rubik-Regular;
}

$header: #F2F2F2;
$paragraph: #E0E0E0;
$bgColor-1: #0D0D2B;
$btnColor: #3671E9;

@mixin header {
    font-size: 4.0rem;
    font-weight: 700;
    color: $header;
}

@mixin paragraph {
    color: $paragraph;
    font-size: 1.6rem;
    line-height: 28px;
}

@import "product";

@import "crypto";

@import "features";

@import "footer";